/* =============== Core =============== */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-weight: 400;
    background-color: #FBFAFF; 
    font-family: 'Comfortaa', sans-serif;
}

.wrapper {
    gap: 50px;
    display: flex;
}

/* =============== Container panel =============== */

.panel {
    padding: 30px;
    min-height: 100vh;
    background-color: white;
}

.logo {
    margin-bottom: 50px;
}

.menu {
    gap: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu__list {
    gap: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu__item {
    width: 45px;
    height: 45px;
    border: none;
    cursor: pointer;
    background: #fff;
    border-radius: 14px;
    box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
}

.menu__item:hover {
    background: #6A6AFB;

}

.menu__item:hover img {
    filter: brightness(0) invert(1);
    
}

.menu__item_active {
    background: #5051F9;
}

.menu__item_active img {
    filter: brightness(0) invert(1);
}

.menu__add {
    width: 45px;
    height: 45px;
    background: none;
    cursor: pointer;
    border-radius: 14px;
    border: 1px solid #CAD5FF;
}

.menu__add:hover {
    background: #e7ebff;
}

/* =============== Container content =============== */

.content {
    padding: 45px;
    min-width: 900px;
}

h1 {
    font-size: 30px;
    line-height: 33px;
    color: #000000;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress {
    min-width: 235px;
    gap: 12px;
    display: flex;
    flex-direction: column;
}

.progress__name {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.progress__text {
    display: flex;
    justify-content: space-between;
}

.progress__percent {
    font-size: 12px;
    line-height: 13px;
    color: #768396;
}

.progress__bar {
    width: 100%;
    height: 5px;
    position: relative;
    background: #e6e9ed;
    border-radius: 4px;
}

.progress__cover_bar {
    width: 50%;
    height: 5px;
    background: #5051f9;
    border-radius: 4px;
    position: absolute;
}

/* =============== Main container =============== */

main {
    padding-top: 30px;   
}

.habbit {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 10px;
}

.habbit__day {
    font-weight: 500;
    min-width: 150px;
    font-size: 14px;
    line-height: 16px;
    padding: 20px 40px;
    background: #b6a7ef;
    border-right: 1px solid #4d62b7;
    border-radius: 10px 0 0 10px;
}

.habbit__comment {
    padding: 20px 25px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.habbit__delete {
    padding: 5px;
    margin-right: 10px;
    margin-left: auto;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.habbit__delete:hover {
    background: #e7ebff;
}

.habbit__form {
    width: 100%;
    padding: 0px 10px 0 25px;
    position: relative;
    gap: 15px;
    display: flex;
}

.input_icon {
    flex: 1;
    padding-left: 40px;
    background: #fff;
    border-radius: 9px;
    border: 1px solid #b9c5f4;
    font-family: 'Comfortaa', sans-serif;
}

input::placeholder {
    color: #8899A8;
}

.input_comment-icon {
    top: 10px;
    left: 40px;
    position: absolute;
}

.habbit__form button {
    width: 120px;
    height: 39px;
    color: #5051F9;
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    border-radius: 9px;
    font-family: 'Comfortaa', sans-serif;
    background: #EDECFE;
}

.habbit__form button:hover {
    background: #dbdbf8;
}