/* =============== Core =============== */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-weight: 400;
    background-color: #FBFAFF; 
    font-family: 'Comfortaa', sans-serif;
}

.wrapper {
    gap: 50px;
    display: flex;
}

/* =============== Container panel =============== */

.panel {
    padding: 30px;
    min-height: 100vh;
    background-color: white;
}

.logo {
    margin-bottom: 50px;
}

.menu {
    gap: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu__list {
    gap: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu__item {
    width: 45px;
    height: 45px;
    border: none;
    cursor: pointer;
    background: #fff;
    border-radius: 14px;
    box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
}

.menu__item:hover {
    background: #6A6AFB;

}

.menu__item:hover img {
    filter: brightness(0) invert(1);
    
}

.menu__item_active {
    background: #5051F9;
}

.menu__item_active img {
    filter: brightness(0) invert(1);
}

.menu__add {
    width: 45px;
    height: 45px;
    background: none;
    cursor: pointer;
    border-radius: 14px;
    border: 1px solid #CAD5FF;
}

.menu__add:hover {
    background: #e7ebff;
}

/* =============== Container content =============== */

.content {
    padding: 45px;
    min-width: 900px;
}

h1 {
    font-size: 30px;
    line-height: 33px;
    color: #000000;
}

header {
    display: flex;
    justify-content: space-between;
}

.progress {
    min-width: 235px;
    gap: 12px;
    display: flex;
    flex-direction: column;
}

.progress__name {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.progress__text {
    display: flex;
    justify-content: space-between;
}

.progress__percent {
    font-size: 12px;
    line-height: 13px;
    color: #768396;
}